<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Signup Buttons</title>
    <link rel="stylesheet" href="./css/bookings.css">
</head>
<body>
    <!-- <div class="container">
        <h1>Responsive Table</h1>
          <table class="rwd-table">
            <tbody>
              <tr>
                <th>Supplier Code</th>
                <th>Supplier Name</th>
                <th>Invoice Number</th>
                <th>Invoice Date</th>
                <th>Due Date</th>
                <th>Net Amount</th>
              </tr>
              <tr>
                <td data-th="Supplier Code">
                  UPS5005
                </td>
                <td data-th="Supplier Name">
                  UPS
                </td>
                <td data-th="Invoice Number">
                  ASDF19218
                </td>
                <td data-th="Invoice Date">
                  06/25/2016
                </td>
                <td data-th="Due Date">
                  12/25/2016
                </td>
                <td data-th="Net Amount">
                  $8,322.12
                </td>
              </tr>
              <tr>
                <td data-th="Supplier Code">
                  UPS3449
                </td>
                <td data-th="Supplier Name">
                  UPS South Inc.
                </td>
                <td data-th="Invoice Number">
                  ASDF29301
                </td>
                <td data-th="Invoice Date">
                  6/24/2016
                </td>
                <td data-th="Due Date">
                  12/25/2016
                </td>
                <td data-th="Net Amount">
                  $3,255.49
                </td>
              </tr>
              <tr>
                <td data-th="Supplier Code">
                  BOX5599
                </td>
                <td data-th="Supplier Name">
                  BOX Pro West
                </td>
                <td data-th="Invoice Number">
                  ASDF43000
                </td>
                <td data-th="Invoice Date">
                  6/27/2016
                </td>
                <td data-th="Due Date">
                  12/25/2016
                </td>
                <td data-th="Net Amount">
                  $45,255.49
                </td>
              </tr>
              <tr>
                <td data-th="Supplier Code">
                  PAN9999
                </td>
                <td data-th="Supplier Name">
                  Pan Providers and Co.
                </td>
                <td data-th="Invoice Number">
                  ASDF33433
                </td>
                <td data-th="Invoice Date">
                  6/29/2016
                </td>
                <td data-th="Due Date">
                  12/25/2016
                </td>
                <td data-th="Net Amount">
                  $12,335.69
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->

        <div class="container">
            <h1>Routes Available</h1>
            <form id="form4" action="post">
              <table class="rwd-table">
                <tbody>
                  <tr>
                    <th>Route</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Book</th>
                  </tr>
                  <tr>
                    <td data-th="Route">
                      Route-1
                    </td>
                    <td data-th="Date">
                      UPS
                    </td>
                    <td data-th="Time">
                      ASDF19218
                    </td>
                    <td data-th="Book">
                      06/25/2016
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Route">
                      Route-2
                    </td>
                    <td data-th="Date">
                      UPS
                    </td>
                    <td data-th="Time">
                      ASDF19218
                    </td>
                    <td data-th="Book">
                      06/25/2016
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Route">
                      Route-3
                    </td>
                    <td data-th="Date">
                      UPS
                    </td>
                    <td data-th="Time">
                      ASDF19218
                    </td>
                    <td data-th="Book">
                      06/25/2016
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Route">
                      Route-4
                    </td>
                    <td data-th="Date">
                      UPS
                    </td>
                    <td data-th="Time">
                      ASDF19218
                    </td>
                    <td data-th="Book">
                      06/25/2016
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Route">
                        Route-5
                    </td>
                    <td data-th="Date">
                      UPS
                    </td>
                    <td data-th="Time">
                      ASDF19218
                    </td>
                    <td data-th="Book">
                      06/25/2016
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Route">
                        Route-6
                    </td>
                    <td data-th="Date">
                      UPS
                    </td>
                    <td data-th="Time">
                      ASDF19218
                    </td>
                    <td data-th="Book">
                      06/25/2016
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Route">
                        Route-7
                    </td>
                    <td data-th="Date">
                      UPS
                    </td>
                    <td data-th="Time">
                      ASDF19218
                    </td>
                    <td data-th="Book">
                      06/25/2016
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Route">
                        Route-8
                    </td>
                    <td data-th="Date">
                      UPS
                    </td>
                    <td data-th="Time">
                      ASDF19218
                    </td>
                    <td data-th="Book">
                      06/25/2016
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Route">
                        Route-9
                    </td>
                    <td data-th="Date">
                      UPS
                    </td>
                    <td data-th="Time">
                      ASDF19218
                    </td>
                    <td data-th="Book">
                      06/25/2016
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Roue">
                        Route-10
                    </td>
                    <td data-th="Date">
                      UPS
                    </td>
                    <td data-th="Time">
                      ASDF19218
                    </td>
                    <td data-th="Book">
                      06/25/2016
                    </td>
                  </tr>
                </tbody>
              </table>
              </form>
            </div>    
</body>
</html>
