<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route</title>
    <link rel="stylesheet" href="route.css">
</head>
<body>
  <!-- navbar -->
  <div class="header">
    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/en/c/cf/Iiit-una-logo.png" alt="logo" style="width:65px;">
    </div>
    <div id="flip"><p>Menu</p></div>
    <nav id="nav">
        <ul>
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="/login">Services</a></li>
            <li><a href="route.html">Route</a></li>
            <li><a href="guidelines.html">Guidelines</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</div>

        <div class="container">
            <h1>Routes Available</h1>
            <form id="form4" action="post">
              <table class="rwd-table">
                <tbody>
                  <tr>
                    <th>S.No.</th>
                    <th>Route</th>
                    <th>Time</th>
                    <th>Vehicle</th>
                  </tr>
                  <tr>
                    <td data-th="Route">
                      Route-1
                    </td>
                    <td data-th="Date">
                      Campus->ISBT
                    </td>
                    <td data-th="Time">
                      10 AM
                    </td>
                    <td data-th="Book">
                      Bus A
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Route">
                      Route-2
                    </td>
                    <td data-th="Date">
                      ISBT->Campus
                    </td>
                    <td data-th="Time">
                      12pm
                    </td>
                    <td data-th="Book">
                      Bus B
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Route">
                      Route-3
                    </td>
                    <td data-th="Date">
                      Campus->RailwayStation
                    </td>
                    <td data-th="Time">
                      9 PM
                    </td>
                    <td data-th="Book">
                      Bus C
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Route">
                      Route-4
                    </td>
                    <td data-th="Date">
                      RailwayStation->Campus
                    </td>
                    <td data-th="Time">
                      12PM
                    </td>
                    <td data-th="Book">
                      Bus B
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Route">
                        Route-5
                    </td>
                    <td data-th="Date">
                      Campus->Nangal Dam
                    </td>
                    <td data-th="Time">
                      11 AM
                    </td>
                    <td data-th="Book">
                      Bus C
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Route">
                        Route-6
                    </td>
                    <td data-th="Date">
                      Campus->Hoshiyarpur
                    </td>
                    <td data-th="Time">
                      1 PM
                    </td>
                    <td data-th="Book">
                      Bus C
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Route">
                        Route-7
                    </td>
                    <td data-th="Date">
                      Nangal Dam->Campus
                    </td>
                    <td data-th="Time">
                      7 PM
                    </td>
                    <td data-th="Book">
                      Bus A
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Route">
                        Route-8
                    </td>
                    <td data-th="Date">
                      Hoshiyarpur->Campus
                    </td>
                    <td data-th="Time">
                     7Pm
                    </td>
                    <td data-th="Book">
                     Bus B
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Route">
                        Route-9
                    </td>
                    <td data-th="Date">
                      RailwayStation->Campus
                    </td>
                    <td data-th="Time">
                      5 PM
                    </td>
                    <td data-th="Book">
                      Bus A
                    </td>
                  </tr>
                  <tr>
                    <td data-th="Roue">
                        Route-10
                    </td>
                    <td data-th="Date">
                      Dayal Sweets->Campus
                    </td>
                    <td data-th="Time">
                      3 PM
                    </td>
                    <td data-th="Book">
                        Bus B
                    </td>
                  </tr>
                </tbody>
              </table>
              </form>
            </div>    
</body>
</html>
