<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Landing Page</title>
<link rel="stylesheet" href="./css/services.css" />
</head>
<body>
    <div class="container">
        <div class="head-1">
            <h1>Available Transport Services</h1>
        </div>
        <div class="head-2">
            <h3>Select the medium of transport</h3>
        </div>
        <div class="cards-cont">
      <div class="grid_item">
        <div class="card">
          <div class="image_container">
            <img src="gadies-hi.png" alt="Bus" />
          </div>
          <div class="card_content_1">
            <h3>Bus Service</h3>
            <!-- <input type="submit" value="Book Now" class="login-btn" id="login" name="login"> -->
            <a href="services1.html"><button type="submit"  class="login-btn" id="login" name="login">Book Now</button></a>
          </div>
        </div>
      </div>
      <div class="grid_item">
        <div class="card">
          <div class="image_container">
            <img src="Auto-bg.webp" alt="Auto/Car" />
          </div>
          <div class="card_content_2">
            <h3>Auto/Car Service</h3>
            <a href="services1.html"><button type="submit"  class="login-btn" id="login" name="login">Book Now</button></a>
        </div>
        </div>
      </div>
      </div>
      </div>
</body>
</html>